<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NanoPlanner</title>
    <!--<link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">-->
    <%= tag :link, rel: "stylesheet", href: static_path(@conn, "/css/app.css") %>
    <%= tag :link, rel: "shortcut icon", href: static_path(@conn, "/images/pico_planner.ico") %>
    <%= tag :link, rel: "apple-touch-icon", href: static_path(@conn, "/images/clock256.png")%>
  </head>

  <body>
      <header>
        <h1><%= link "NanoPlanner", to: top_path(@conn, :index,[]) %>
        <!--
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <li><a href="http://www.phoenixframework.org/docs">Get Started</a></li>
          </ul>
        </nav>
        <span class="logo"></span>
        -->
      </header>
<!--
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
-->
      <main>
        <%= render @view_module, @view_template, assigns %>
      </main>

      <footer>
        &copy; 2017 aaa.
      </footer>

      <!--<script src="<%= static_path(@conn, "/js/app.js") %>"></script>-->
      <%= content_tag :script, "", src: static_path(@conn, "/js/app.js") %>
  </body>
</html>
